@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.botones {
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: rgb(55, 143, 224);
  padding: 10px;
  border-radius: 15px;
  transition: 0.5s; /* Referencia: https://www.w3schools.com/howto/howto_css_transition_hover.asp */
}
.botones:hover {
  background-color: rgb(228, 92, 92);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

header {
  padding: 10px;
  background-color: rgb(228, 92, 92);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
header div a img {
  width: 75px;
  height: 75px;
}
header div h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-left: 10px;
  margin-bottom: 0px;
}
header nav .menu {
  display: flex;
  list-style: none;
  font-size: 20px;
  margin-bottom: 0px;
  padding-left: 0px;
}
header nav .menu li {
  margin: 0px 30px 0px 30px;
}
header nav .menu li a {
  text-decoration: none;
  color: white;
}
header nav .menu li a:hover {
  color: black;
  transition: 0.3s; /* Referencia: https://www.w3schools.com/howto/howto_css_transition_hover.asp */
}
header nav .dropdown {
  display: none;
}

.hero {
  height: calc(100vh - 95px);
  background-image: url(https://i.imgur.com/bxhgDiU.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(75, 75, 75);
  background-blend-mode: multiply; /* Referencia: https://youtu.be/zHZRFwWQt2w?t=1019 */
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.hero .descripcion_paws {
  width: 700px;
  height: 288px;
}
.hero .descripcion_paws h1 {
  color: rgb(228, 92, 92);
  font-size: 40px;
}
.hero .descripcion_paws h2 {
  font-size: 40px;
}
.hero .descripcion_pawhub {
  width: 700px;
  height: 288px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero .descripcion_pawhub h2 {
  font-size: 40px;
}

.videojuegos {
  background-color: hsla(0, 0%, 0%, 0.8);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px 15px;
  grid-template-areas: "tarjeta_tarkov tarjeta_nitw tarjeta_indigo" "tarjeta_webfishing tarjeta_zomboid tarjeta_astroneer";
}
.videojuegos .tarjeta_tarkov {
  grid-area: tarjeta_tarkov;
}
.videojuegos .tarjeta_nitw {
  grid-area: tarjeta_nitw;
}
.videojuegos .tarjeta_indigo {
  grid-area: tarjeta_indigo;
}
.videojuegos .tarjeta_webfishing {
  grid-area: tarjeta_webfishing;
}
.videojuegos .tarjeta_zomboid {
  grid-area: tarjeta_zomboid;
}
.videojuegos .tarjeta_astroneer {
  grid-area: tarjeta_astroneer;
}
.videojuegos div {
  background-color: hsla(0, 0%, 0%, 0.2);
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videojuegos div:hover {
  background-color: rgb(75, 75, 75);
  transition: 0.5s; /* Referencia: https://www.w3schools.com/howto/howto_css_transition_hover.asp */
}
.videojuegos div h2 {
  text-align: center;
  font-size: 40px;
  color: white;
}
.videojuegos div img {
  width: auto;
  height: 200px;
}
.videojuegos div p {
  font-size: 20px;
  color: white;
}

.productos_videojuegos {
  background-color: hsla(0, 0%, 0%, 0.8);
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 50px 50px;
  grid-template-areas: "tarkov tarkov trailer_tarkov" "trailer_nitw nitw nitw" "indigo indigo trailer_indigo" "trailer_webfishing webfishing webfishing" "zomboid zomboid trailer_zomboid" "trailer_astroneer astroneer astroneer";
}
.productos_videojuegos .tarkov {
  grid-area: tarkov;
}
.productos_videojuegos .trailer_tarkov {
  grid-area: trailer_tarkov;
}
.productos_videojuegos .trailer_nitw {
  grid-area: trailer_nitw;
}
.productos_videojuegos .trailer_indigo {
  grid-area: trailer_indigo;
}
.productos_videojuegos .trailer_webfishing {
  grid-area: trailer_webfishing;
}
.productos_videojuegos .trailer_zomboid {
  grid-area: trailer_zomboid;
}
.productos_videojuegos .trailer_astroneer {
  grid-area: trailer_astroneer;
}
.productos_videojuegos .nitw {
  grid-area: nitw;
}
.productos_videojuegos .indigo {
  grid-area: indigo;
}
.productos_videojuegos .webfishing {
  grid-area: webfishing;
}
.productos_videojuegos .zomboid {
  grid-area: zomboid;
}
.productos_videojuegos .astroneer {
  grid-area: astroneer;
}
.productos_videojuegos div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productos_videojuegos div .texto_producto {
  width: 100%;
  height: auto;
  background-color: hsla(0, 0%, 0%, 0.2);
  padding: 20px;
  border-radius: 20px;
}
.productos_videojuegos div .texto_producto:hover {
  background-color: rgb(75, 75, 75);
  transition: 0.5s; /* Referencia: https://www.w3schools.com/howto/howto_css_transition_hover.asp */
}
.productos_videojuegos div .texto_producto p {
  color: white;
  font-size: 20px;
}
.productos_videojuegos div .img-40pct {
  width: 40%;
  height: auto;
}
.productos_videojuegos div:not(.trailer) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productos_videojuegos .trailer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productos_videojuegos .tarkov img {
  width: 60%;
  height: auto;
}

.pawhub {
  background-color: hsla(0, 0%, 0%, 0.8);
}
.pawhub .pawhub_invitacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 95px);
}
.pawhub .pawhub_invitacion div {
  background-color: hsla(0, 0%, 0%, 0.2);
  padding: 30px;
  border-radius: 25px;
  width: 900px;
}
.pawhub .pawhub_invitacion div h1 {
  color: rgb(228, 92, 92);
  font-size: 35px;
}
.pawhub .pawhub_invitacion div p {
  color: white;
  font-size: 35px;
}
.pawhub .grilla_funciones {
  height: auto;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px 15px;
  grid-template-areas: "funciones funciones funciones" "tienda red_social chat" "taller actualizaciones noticias";
}
.pawhub .grilla_funciones .funciones {
  grid-area: funciones;
}
.pawhub .grilla_funciones .tienda {
  grid-area: tienda;
}
.pawhub .grilla_funciones .red_social {
  grid-area: red_social;
}
.pawhub .grilla_funciones .chat {
  grid-area: chat;
}
.pawhub .grilla_funciones .taller {
  grid-area: taller;
}
.pawhub .grilla_funciones .actualizaciones {
  grid-area: actualizaciones;
}
.pawhub .grilla_funciones .noticias {
  grid-area: noticias;
}
.pawhub .grilla_funciones h2 {
  font-size: 40px;
  text-align: center;
  color: white;
}
.pawhub .grilla_funciones div {
  background-color: hsla(0, 0%, 0%, 0.2);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.pawhub .grilla_funciones div:hover {
  background-color: rgb(228, 92, 92);
  color: black;
  transition: 0.5s;
}
.pawhub .grilla_funciones div .bi {
  font-size: 150px;
}
.pawhub .grilla_funciones div h3 {
  color: white;
  text-align: center;
  font-size: 30px;
}
.pawhub .registrarse {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  height: auto;
}
.pawhub .registrarse .instrucciones {
  background-color: hsla(0, 0%, 0%, 0.2);
  border-radius: 20px;
  padding: 30px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pawhub .registrarse .instrucciones:hover {
  background-color: rgb(75, 75, 75);
  color: black;
  transition: 0.5s;
}
.pawhub .registrarse .instrucciones h3 {
  font-size: 35px;
  color: white;
}
.pawhub .registrarse .formulario {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pawhub .registrarse .formulario form {
  color: white;
}

.about {
  height: calc(100vh - 95px);
  padding: 70px;
  background-image: url(../img/oficinas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: hsla(0, 0%, 0%, 0.8);
  background-blend-mode: multiply; /* Referencia: https://youtu.be/zHZRFwWQt2w?t=1019 */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h1 {
  color: rgb(228, 92, 92);
  font-size: 40px;
}
.about p {
  font-size: 30px;
}

.contacto {
  background-color: hsla(0, 0%, 0%, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contacto .consulta_formulario {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.contacto .consulta_formulario .consulta {
  width: 650px;
  background-color: hsla(0, 0%, 0%, 0.2);
  border-radius: 20px;
  padding: 30px;
}
.contacto .consulta_formulario .consulta:hover {
  background-color: rgb(75, 75, 75);
  transition: 0.5s;
}
.contacto .consulta_formulario .consulta h1 {
  color: rgb(228, 92, 92);
  font-size: 30px;
}
.contacto .consulta_formulario .consulta h2 {
  font-size: 30px;
}
.contacto .consulta_formulario .formulario_contacto {
  width: 500px;
}
.contacto .maps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 50px;
}
.contacto .maps h2 {
  width: 600px;
  font-size: 30px;
  background-color: hsla(0, 0%, 0%, 0.2);
  border-radius: 20px;
  padding: 30px;
}
.contacto .maps h2:hover {
  background-color: rgb(75, 75, 75);
  transition: 0.5s;
}

footer {
  padding: 10px;
  background-color: rgb(228, 92, 92);
  display: flex;
  align-items: center;
}
footer .footer_logo_nombre {
  display: flex;
  align-items: center;
}
footer .footer_logo_nombre img {
  width: 50px;
  height: 50px;
}
footer .footer_logo_nombre h2 {
  margin-right: 10px;
  color: white;
  margin-bottom: 0;
}
footer .redes a {
  margin: 0px 5px 0px 5px;
}
footer .redes a .bi {
  font-size: 40px;
}
footer .redes a .bi:hover {
  color: black;
}

@media screen and (max-width: 1275px) {
  .videojuegos {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "tarjeta_tarkov tarjeta_nitw" "tarjeta_indigo tarjeta_webfishing" "tarjeta_zomboid tarjeta_astroneer";
  }
  .videojuegos div img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 920px) {
  header {
    flex-direction: column;
  }
  header div {
    margin-bottom: 10px;
  }
  .hero .descripcion_paws {
    width: 550px;
    height: auto;
  }
  .hero .descripcion_pawhub {
    width: 550px;
    height: auto;
  }
}
@media screen and (max-width: 870px) {
  .videojuegos {
    grid-template-columns: 1fr;
    grid-template-areas: "tarjeta_tarkov" "tarjeta_nitw" "tarjeta_indigo" "tarjeta_webfishing" "tarjeta_zomboid" "tarjeta_astroneer";
  }
}
@media screen and (max-width: 700px) {
  header {
    flex-direction: row;
    justify-content: space-around;
  }
  header div {
    display: flex;
  }
  header nav .menu {
    display: none;
  }
  header nav .dropdown {
    display: initial;
    margin-left: 0px;
  }
  header nav ul li {
    font-size: 15px;
    margin: 0px 10px 0px 10px;
  }
  .hero .descripcion_paws {
    width: 450px;
  }
  .hero .descripcion_paws h1 {
    font-size: 30px;
  }
  .hero .descripcion_paws h2 {
    font-size: 30px;
  }
  .hero .descripcion_pawhub h2 {
    font-size: 30px;
  }
  .hero .descripcion_pawhub {
    width: 450px;
  }
}
@media screen and (max-width: 550px) {
  header {
    justify-content: space-evenly;
  }
  header div h1 {
    display: none;
  }
  .hero {
    flex-direction: column;
  }
  .hero .descripcion_paws {
    width: 325px;
  }
  .hero .descripcion_pawhub {
    width: 325px;
  }
  .hero .descripcion_paws h1 {
    font-size: 25px;
  }
  .hero .descripcion_paws h2 {
    font-size: 25px;
  }
  .hero .descripcion_pawhub h2 {
    font-size: 25px;
  }
  .videojuegos div h1 {
    font-size: 25px;
  }
  .videojuegos div img {
    width: 250px;
  }
}
@media screen and (max-width: 1320px) {
  .productos_videojuegos {
    grid-template-columns: 1fr;
    gap: 50px 15px;
    grid-template-areas: "tarkov " "trailer_tarkov" "nitw" "trailer_nitw" "indigo" "trailer_indigo" "webfishing" "trailer_webfishing" "zomboid" "trailer_zomboid" "astroneer" "trailer_astroneer";
  }
  .productos_videojuegos div .img-40pct {
    width: 50%;
    height: auto;
  }
  .productos_videojuegos .tarkov img {
    width: 70%;
    height: auto;
  }
}
@media screen and (max-width: 660px) {
  .productos_videojuegos .trailer {
    display: none;
  }
  .productos_videojuegos div .img-40pct {
    width: 90%;
    height: auto;
  }
  .productos_videojuegos .tarkov img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1360px) {
  .pawhub .pawhub_invitacion div {
    width: 600px;
  }
  .pawhub .pawhub_invitacion img {
    width: 340px;
    height: auto;
  }
  .pawhub .pawhub_invitacion div h1 {
    font-size: 25px;
  }
  .pawhub .pawhub_invitacion div p {
    font-size: 25px;
  }
  .pawhub .registrarse {
    justify-content: space-between;
  }
  .pawhub .registrarse .instrucciones {
    width: 600px;
  }
  .pawhub .registrarse .instrucciones h3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 1070px) {
  .pawhub .grilla_funciones {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "funciones funciones" "tienda red_social" "chat taller" "actualizaciones noticias";
  }
  .pawhub .grilla_funciones div .bi {
    font-size: 125px;
  }
  .pawhub .grilla_funciones div h3 {
    font-size: 20px;
  }
  .pawhub .registrarse {
    flex-direction: column;
  }
  .pawhub .registrarse .formulario {
    height: 500px;
  }
}
@media screen and (max-width: 1000px) {
  .pawhub .pawhub_invitacion img {
    width: 240px;
    height: auto;
  }
  .pawhub .pawhub_invitacion div {
    width: 500px;
  }
  .pawhub .pawhub_invitacion div h1 {
    font-size: 20px;
  }
  .pawhub .pawhub_invitacion div p {
    font-size: 20px;
  }
}
@media screen and (max-width: 800px) {
  .pawhub .pawhub_invitacion div {
    width: 400px;
  }
  .pawhub .pawhub_invitacion {
    flex-direction: column;
  }
  .pawhub .registrarse .instrucciones {
    width: 400px;
  }
  .pawhub .registrarse .instrucciones h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .pawhub .grilla_funciones {
    grid-template-columns: 1fr;
    grid-template-areas: "funciones" "tienda" "red_social" "chat" "taller" "actualizaciones" "noticias";
  }
  .pawhub .pawhub_invitacion div {
    width: 340px;
  }
  .pawhub .pawhub_invitacion img {
    width: 200px;
    height: auto;
  }
  .pawhub .registrarse .instrucciones {
    width: 340px;
  }
}
@media screen and (max-width: 915px) {
  .about h1 {
    font-size: 35px;
  }
  .about p {
    font-size: 25px;
  }
}
@media screen and (max-width: 685px) {
  .about h1 {
    font-size: 30px;
  }
  .about p {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .about h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 370px) {
  .about {
    height: 1200px;
  }
}
@media screen and (max-width: 1360px) {
  .contacto .consulta_formulario .consulta {
    width: 500px;
  }
  .contacto .consulta_formulario .consulta h1 {
    font-size: 20px;
  }
  .contacto .consulta_formulario .consulta h2 {
    font-size: 20px;
  }
  .contacto .maps h2 {
    width: 450px;
    font-size: 20px;
  }
}
@media screen and (max-width: 1170px) {
  .contacto .consulta_formulario .consulta {
    width: 800px;
  }
  .contacto .consulta_formulario .consulta h1 {
    font-size: 25px;
  }
  .contacto .consulta_formulario .consulta h2 {
    font-size: 25px;
  }
  .contacto .consulta_formulario {
    flex-direction: column;
  }
  .contacto .consulta_formulario .formulario_contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 436px;
  }
  .contacto .formulario_contacto form {
    width: 500px;
  }
  .contacto .maps h2 {
    display: none;
  }
}
@media screen and (max-width: 830px) {
  .contacto .consulta_formulario .consulta {
    width: 500px;
  }
}
@media screen and (max-width: 550px) {
  .contacto .consulta_formulario .consulta {
    width: 345px;
  }
  .contacto .consulta_formulario .formulario_contacto {
    width: 345px;
  }
  .contacto .formulario_contacto {
    width: 345px;
  }
  .contacto .formulario_contacto form {
    width: 345px;
  }
}

/*# sourceMappingURL=estilos.css.map */
