@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* HEADER - ENCABEZADO */

header{
    font-family: "Nunito", sans-serif;
    padding: 10px;
    background-color: rgb(228, 92, 92);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

header div img{
    width: 75px;
    height: 75px;
}

header div h1{
    font-size: 40px;
    font-weight: 800;
    color: white;
    margin-left: 10px;
    margin-bottom: 0px;
}

.dropdown{
    display: none;
}

header nav ul{
    display: flex;
    list-style: none;
    font-size: 20px;
    margin-bottom: 0px;
    padding-left: 0px;
}

header nav ul li{
    margin: 0px 30px 0px 30px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

header nav ul li a:hover{
    color: rgb(0, 0, 0);
    transition: 0.3s; /* Referencia: https://www.w3schools.com/howto/howto_css_transition_hover.asp */
}


/* INDEX.HTML */

/* HERO */

.hero{
    font-family: "Nunito", sans-serif;
    height: calc(100vh - 95px);
    background-image: url(https://i.imgur.com/bxhgDiU.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(75, 75, 75);
    background-blend-mode: multiply; /* Referencia: https://youtu.be/zHZRFwWQt2w?t=1019 */
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.descripcion_paws{
    font-size: 20px;
    width: 700px;
    height: 288px;
    margin-bottom: 0px;
}

.descripcion_pawhub{
    font-size: 20px;
    width: 700px;
    height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.descripcion_paws h1{
    margin-bottom: 0px;
}

.h1_rojo{
    color: red;
}

.descripcion_pawhub h1{
    margin-bottom: 0px;
}

.descripcion_pawhub a{
    text-decoration: none;
    color: white;
    background-color: rgb(55, 143, 224);
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s; /* Referencia: https://www.w3schools.com/howto/howto_css_transition_hover.asp */
}

.descripcion_pawhub a:hover{
    background-color: rgb(228, 92, 92);
}


/* VIDEOJUEGOS */

.videojuegos{
    font-family: "Nunito", sans-serif;
    background-color: hsla(0, 0%, 0%, 0.800);
    padding: 30px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 15px 15px; 
    grid-template-areas: 
        "tarjeta_tarkov tarjeta_nitw tarjeta_indigo"
        "tarjeta_webfishing tarjeta_zomboid tarjeta_astroneer";
}
    .tarjeta_tarkov { grid-area: tarjeta_tarkov; }
    .tarjeta_nitw { grid-area: tarjeta_nitw; }
    .tarjeta_indigo { grid-area: tarjeta_indigo; }
    .tarjeta_webfishing { grid-area: tarjeta_webfishing; }
    .tarjeta_zomboid { grid-area: tarjeta_zomboid; }
    .tarjeta_astroneer { grid-area: tarjeta_astroneer; }

.videojuegos div{
    width: 100%;
    height: 100%;
}

.videojuegos div h1{
    font-size: 40px;
    margin-bottom: 0px;
    color: white;
}

.videojuegos p{
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}

.tarjeta_tarkov{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta_tarkov img{
    width: auto;
    height: 200px;
}

.tarjeta_indigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta_indigo img{
    width: auto;
    height: 200px;
}

.tarjeta_nitw{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta_nitw img{
    width: auto;
    height: 200px;
}

.tarjeta_webfishing{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta_webfishing img{
    width: auto;
    height: 200px;
}

.tarjeta_zomboid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta_zomboid img{
    width: auto;
    height: 200px;
}

.tarjeta_astroneer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta_astroneer img{
    width: auto;
    height: 200px;
}

.videojuegos div a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: rgb(55, 143, 224);
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s; /* Referencia: https://www.w3schools.com/howto/howto_css_transition_hover.asp */
}

.videojuegos div a:hover{
    background-color: rgb(228, 92, 92);
}

/* PRODUCTOS.HTML */

.productos_videojuegos{
    font-family: "Nunito", sans-serif;
    background-color: hsla(0, 0%, 0%, 0.800);
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto; 
    gap: 200px 15px; 
    grid-template-areas: 
        "tarkov tarkov trailer_tarkov"
        "trailer_nitw nitw nitw"
        "indigo indigo trailer_indigo"
        "trailer_webfishing webfishing webfishing"
        "zomboid zomboid trailer_zomboid"
        "trailer_astroneer astroneer astroneer"; 
}
    .tarkov { grid-area: tarkov; }
    .trailer_tarkov { grid-area: trailer_tarkov; }
    .trailer_nitw { grid-area: trailer_nitw; }
    .trailer_indigo { grid-area: trailer_indigo; }
    .trailer_webfishing { grid-area: trailer_webfishing; }
    .trailer_zomboid { grid-area: trailer_zomboid; }
    .trailer_astroneer { grid-area: trailer_astroneer; }
    .nitw { grid-area: nitw; }
    .indigo { grid-area: indigo; }
    .webfishing { grid-area: webfishing; }
    .zomboid { grid-area: zomboid; }
    .astroneer { grid-area: astroneer; }

.productos_videojuegos div{
    width: 100%;
    height: 100%;
}

.productos_videojuegos div p{
    color: white;
}

.productos_videojuegos div img{
    height: auto;
}

.productos_videojuegos a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: rgb(55, 143, 224);
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s; /* Referencia: https://www.w3schools.com/howto/howto_css_transition_hover.asp */
}

.productos_videojuegos a:hover{
    background-color: rgb(228, 92, 92);
}

.trailer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarkov{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarkov img{
    width: 50%;
}

.tarkov p{
    font-size: 20px;
    width: 95%;
}

.nitw{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nitw img{
    width: 25%;
}

.nitw p{
    font-size: 20px;
    width: 95%;
}

.indigo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indigo img{
    width: 30%;
}

.indigo p{
    font-size: 20px;
    width: 95%;
}

.webfishing img{
    width: 30%;
}

.webfishing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webfishing p{
    font-size: 20px;
    width: 95%;
}

.zomboid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zomboid img{
    width: 30%;
}

.zomboid p{
    font-size: 20px;
    width: 95%;
}

.astroneer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.astroneer img{
    width: 30%;
}

.astroneer p{
    font-size: 20px;
    width: 95%;
}

/* PLATAFORMA.HTML */

.pawhub_hero{
    height: calc(100vh - 95px);
    font-family: "Nunito", sans-serif;
    background-color: hsla(0, 0%, 0%, 0.800);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.pawhub_hero h1{
    color: red;
    font-size: 40px;
    width: 800px;
}

.pawhub_hero p{
    color: white;
    font-size: 30px;
    width: 800px;
}

/* NOSOTROS.HTML */

.about{
    height: calc(100vh - 95px);
    background-image: url(../img/oficinas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: hsla(0, 0%, 0%, 0.800);
    background-blend-mode: multiply; /* Referencia: https://youtu.be/zHZRFwWQt2w?t=1019 */
    color: white;
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about h1{
    color: red;
    font-size: 40px;
}

.about p{
    font-size: 30px;
    width: 1300px;
}

/* CONTACTO.HTML */

.contacto{
    font-family: "Nunito", sans-serif;
    background-color: hsla(0, 0%, 0%, 0.800);
    height: calc(100vh - 95px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.formulario{
    color: white;
}

/* PIE DE PÁGINA */

footer{
    font-family: "Nunito", sans-serif;
    padding: 10px;
    background-color: rgb(228, 92, 92);
    display: flex;
    align-items: center;
}

.footer_logo_nombre{
    display: flex;
    align-items: center;
}

.footer_logo_nombre img{
    width: 50px;
    height: 50px;
}

.footer_logo_nombre h2{
    margin-right: 10px;
    color: white;
    margin-bottom: 0;
}

.redes a{
    margin: 0px 5px 0px 5px;
}

.bi{
    font-size: 40px;
}

.bi:hover{
    color: rgb(0, 0, 0);
}

/* INDEX.HTML MEDIA QUERIES */

@media screen and (max-width:1275px){
    .videojuegos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "tarjeta_tarkov tarjeta_nitw"
            "tarjeta_indigo tarjeta_webfishing"
            "tarjeta_zomboid tarjeta_astroneer"
    }
}

@media screen and (max-width:920px){
    header{
        flex-direction: column;
    }
    
    header div{
        margin-bottom: 10px;
    }
    
    .descripcion_paws{
        width: 550px;
    }
    
    .descripcion_pawhub{
        width: 550px;
    }
}

@media screen and (max-width:870px){
    .videojuegos{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "tarjeta_tarkov" 
            "tarjeta_nitw"
            "tarjeta_indigo" 
            "tarjeta_webfishing"
            "tarjeta_zomboid" 
            "tarjeta_astroneer"
    }
}

@media screen and (max-width:700px){
    header{
        flex-direction: row;
        justify-content: space-around;
    }

    header div{
        display: flex;
    }

    .menu{
        display: none;
    }

    .dropdown{
        display: initial;
        margin-left: 0px;
    }

    header nav ul li{
        font-size: 15px;
        margin: 0px 10px 0px 10px;
    }

    .descripcion_paws{
        font-size: 15px;
        width: 450px;
    }
    
    .descripcion_pawhub{
        font-size: 15px;
        width: 450px;
    }
}

@media screen and (max-width:550px) {
    header{
        justify-content: space-evenly;
    }

    header div h1{
        display: none;
    }

    .hero{
        flex-direction: column;
    }

    .descripcion_paws{
        width: 300px;
        height: auto;
    }
    
    .descripcion_pawhub{
        width: 300px;
        height: auto;
    }

    .videojuegos div h1{
        font-size: 30px;
    }

    .videojuegos div img{
        width: 250px;
        height: auto;
    }
}

/* PRODUCTOS.HTML MEDIA QUERIES */

@media screen and (max-width:1155px){
    .productos_videojuegos{
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
        gap: 50px 15px; 
        grid-template-areas: 
            "tarkov "
            "trailer_tarkov"
            "nitw"
            "trailer_nitw"
            "indigo" 
            "trailer_indigo"
            "webfishing"
            "trailer_webfishing"
            "zomboid" 
            "trailer_zomboid"
            "astroneer" 
            "trailer_astroneer"
    }
        .tarkov { grid-area: tarkov; }
        .trailer_tarkov { grid-area: trailer_tarkov; }
        .trailer_nitw { grid-area: trailer_nitw; }
        .trailer_indigo { grid-area: trailer_indigo; }
        .trailer_webfishing { grid-area: trailer_webfishing; }
        .trailer_zomboid { grid-area: trailer_zomboid; }
        .trailer_astroneer { grid-area: trailer_astroneer; }
        .nitw { grid-area: nitw; }
        .indigo { grid-area: indigo; }
        .webfishing { grid-area: webfishing; }
        .zomboid { grid-area: zomboid; }
        .astroneer { grid-area: astroneer; }

    .productos_videojuegos div p{
        width: 70%;
    }
}

@media screen and (max-width:580px){
    .trailer{
        display: none;
    }
}