header{
    padding: 10px;
    background-color: nth($colores, 1);
    position: sticky;
    top: 0;
    @include flex(flex, null, space-between, center);
    div{
        @include flex(flex, null, null, center); // Referencia "null": https://dev.to/nickfazzpdx/using-null-in-sassscss-mixins-to-mute-arguments-6oa
        margin-left: 10px;
        a{
            img{
                width: 75px;
                height: 75px;
            }
        }
        h1{
            font-size: 40px;
            font-weight: 800;
            color: nth($colores, 5);
            margin-left: 10px;
            margin-bottom: 0px;
        }
    }
    nav{
        .menu{
            display: flex;
            list-style: none;
            font-size: 20px;
            margin-bottom: 0px;
            padding-left: 0px;
            li{
                margin: 0px 30px 0px 30px;
                a{
                    text-decoration: none;
                    color: nth($colores, 5);
                    &:hover{
                        color: nth($colores, 6);
                        transition: 0.3s; /* Referencia: https://www.w3schools.com/howto/howto_css_transition_hover.asp */
                    }
                }
            }
        }
        .dropdown{
            display: none;
        }
    }
}