// INDEX.HTML

.hero{
    height: $hero;
    background-image: url(https://i.imgur.com/bxhgDiU.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: nth($colores, 4);
    background-blend-mode: multiply; /* Referencia: https://youtu.be/zHZRFwWQt2w?t=1019 */
    color: nth($colores, 5);
    @include flex(flex, null, space-around, center);
    flex-wrap: wrap;
    .descripcion_paws{
        width: 700px;
        height: 288px;
        h1{
            color: nth($colores, 1);
            font-size: 40px;
        }
        h2{
            font-size: 40px;
        }
    }
    .descripcion_pawhub{
        width: 700px;
        height: 288px;
        @include flex(flex, column, space-between, center);
        h2{
            font-size: 40px;
        }
    }
}

.videojuegos{
    background-color: nth($colores, 3);
    padding: 30px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto; 
    gap: 15px 15px; 
    grid-template-areas: 
        "tarjeta_tarkov tarjeta_nitw tarjeta_indigo"
        "tarjeta_webfishing tarjeta_zomboid tarjeta_astroneer";
    .tarjeta_tarkov { grid-area: tarjeta_tarkov; }
    .tarjeta_nitw { grid-area: tarjeta_nitw; }
    .tarjeta_indigo { grid-area: tarjeta_indigo; }
    .tarjeta_webfishing { grid-area: tarjeta_webfishing; }
    .tarjeta_zomboid { grid-area: tarjeta_zomboid; }
    .tarjeta_astroneer { grid-area: tarjeta_astroneer; }

    div{
        background-color: nth($colores, 7);
        padding: 20px;
        border-radius: 20px;
        &:hover{
            background-color: nth($colores, 4);
            transition: 0.5s; /* Referencia: https://www.w3schools.com/howto/howto_css_transition_hover.asp */
        }
        width: 100%;
        height: 100%;
        @include flex(flex, column, center, center);
        h2{
            text-align: center;
            font-size: 40px;
            color: nth($colores, 5);
        }
        img{
            width: auto;
            height: 200px;
        }
        p{
            font-size: 20px;
            color: nth($colores, 5);
        }
    }
}

// PRODUCTOS.HTML

.productos_videojuegos{
    background-color: nth($colores, 3);
    padding: 50px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto; 
    gap: 50px 50px; 
    grid-template-areas: 
        "tarkov tarkov trailer_tarkov"
        "trailer_nitw nitw nitw"
        "indigo indigo trailer_indigo"
        "trailer_webfishing webfishing webfishing"
        "zomboid zomboid trailer_zomboid"
        "trailer_astroneer astroneer astroneer";
    .tarkov { grid-area: tarkov; }
    .trailer_tarkov { grid-area: trailer_tarkov; }
    .trailer_nitw { grid-area: trailer_nitw; }
    .trailer_indigo { grid-area: trailer_indigo; }
    .trailer_webfishing { grid-area: trailer_webfishing; }
    .trailer_zomboid { grid-area: trailer_zomboid; }
    .trailer_astroneer { grid-area: trailer_astroneer; }
    .nitw { grid-area: nitw; }
    .indigo { grid-area: indigo; }
    .webfishing { grid-area: webfishing; }
    .zomboid { grid-area: zomboid; }
    .astroneer { grid-area: astroneer; }
    div{
        @include flex(flex, column, center, center);
        .texto_producto{
            width: 100%;
            height: auto;
            background-color: nth($colores, 7);
            padding: 20px;
            border-radius: 20px;
            &:hover{
                background-color: nth($colores, 4);
                transition: 0.5s; /* Referencia: https://www.w3schools.com/howto/howto_css_transition_hover.asp */
            }
            p{
                color: nth($colores, 5);
                font-size: 20px;
            }
        }
        .img-40pct{
            width: 40%;
            height: auto;
        }
        &:not(.trailer){
            width: 100%;
            height: 100%;
            @include flex(flex, column, center, center);
        }
    }
    .trailer{
        @include flex(flex, null, center, center);
    }
    .tarkov{
        img{
            width: 60%;
            height: auto;
        }
    }
}

// PLATAFORMA.HTML

.pawhub{
    background-color: nth($colores, 3);
    .pawhub_invitacion{
        @include flex(flex, null, space-around, center);
        height: $hero;
        div{
            background-color: nth($colores, 7);
            padding: 30px;
            border-radius: 25px;
            width: 900px;
            h1{
                color: nth($colores, 1);
                font-size: 35px;
            }
            p{
                color: nth($colores, 5);
                font-size: 35px;
            }
        }
    }
    .grilla_funciones{
        height: auto;
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: auto; 
        gap: 15px 15px; 
        grid-template-areas: 
            "funciones funciones funciones"
            "tienda red_social chat"
            "taller actualizaciones noticias";
        .funciones { grid-area: funciones;}
        .tienda { grid-area: tienda; }
        .red_social { grid-area: red_social; }
        .chat { grid-area: chat; }
        .taller { grid-area: taller; }
        .actualizaciones { grid-area: actualizaciones; }
        .noticias { grid-area: noticias; }
        h2{
            font-size: 40px;
            text-align: center;
            color: nth($colores, 5);
        }
        div{
            background-color: nth($colores, 7);
            border-radius: 20px;
            width: 100%;
            height: 100%;
            color: nth($colores, 5);
            @include flex(flex, column, space-evenly, center);
            &:hover{
                background-color: nth($colores, 1);
                color: nth($colores, 6);
                transition: 0.5s;
            }
            .bi{
                font-size: 150px;
            }
            h3{
                color: nth($colores, 5);
                text-align: center;
                font-size: 30px;
            }
        }
    }
    .registrarse{
        @include flex(flex, null, space-around, center);
        padding: 50px;
        height: auto;
        .instrucciones{
            background-color: nth($colores, 7);
            border-radius: 20px;
            padding: 30px;
            width: 800px;
            &:hover{
            background-color: nth($colores, 4);
            color: nth($colores, 6);
            transition: 0.5s;
            }
            @include flex(flex, column, null, center);
            h3{
                font-size: 35px;
                color: nth($colores, 5);
            }
        }
        .formulario{
            @include flex(flex, null, center, center);
            form{
                color: nth($colores, 5);
            }
        }
    }
}

// NOSOTROS.HTML

.about{
    height: $hero;
    padding: 70px;
    background-image: url(../img/oficinas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: nth($colores, 3);
    background-blend-mode: multiply; /* Referencia: https://youtu.be/zHZRFwWQt2w?t=1019 */
    color: nth($colores, 5);
    @include flex(flex, column, center, center);
    h1{
        color: nth($colores, 1);
        font-size: 40px;
    }
    p{
        font-size: 30px;
    }
}

// CONTACTO.HTML

.contacto{
    background-color: nth($colores, 3);
    color: nth($colores, 5);
    @include flex(flex, column, space-around, center);
    // flex-wrap: wrap;
    .consulta_formulario{
        padding: 50px;
        @include flex(flex, null, space-around, center);
        width: 100%;
        .consulta{
            width: 650px;
            background-color: nth($colores, 7);
            border-radius: 20px;
            padding: 30px;
            &:hover{
                background-color: nth($colores, 4);
                transition: 0.5s;
            }
            h1{
                color: nth($colores, 1);
                font-size: 30px;
            }
            h2{
                font-size: 30px;
            }
        }
        .formulario_contacto{
            width: 500px;
        }
    }
    .maps{
        @include flex(flex, null, space-around, center);
        width: 100%;
        padding: 50px;
        h2{
            width: 600px;
            font-size: 30px;
            background-color: nth($colores, 7);
            border-radius: 20px;
            padding: 30px;
            &:hover{
                background-color: nth($colores, 4);
                transition: 0.5s;
            }
        }
    }
}

