// VARIABLES
$hero: calc(100vh - 95px);

// LISTAS
$colores: rgb(228, 92, 92), rgb(55, 143, 224), hsla(0, 0%, 0%, 0.800), rgb(75, 75, 75), white, black;


// EXTEND
%botones{
    font-size: 20px;
    text-decoration: none;
    color: nth($colores, 5);
    background-color: nth($colores, 2);
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s; /* Referencia: https://www.w3schools.com/howto/howto_css_transition_hover.asp */
    &:hover{
        background-color: nth($colores, 1);
    }
}

// MIXIN
@mixin flex ($flex, $direction, $justify, $align){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}