@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Nunito", sans-serif;
}

.botones{
    @extend %botones;
}
